a {
  text-decoration: none;
}

.main {
  width: 500px;
  margin: 0 auto;
  padding-top: 20px;
}

.post {
  background: white;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 15px;
}

.post__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.post__username {
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}

.btn {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn + .btn {
  margin-left: 10px;
}

.reaction {
  margin: 18px 0;
  border-top: 1px solid #d5d6da;
  border-bottom: 1px solid #d5d6da;
  padding: 8px 0;
  display: flex;
  justify-content: space-around;
  justify-self: center;
}

.reaction a {
  color: #737375;
}

.reaction a i {
  margin-right: 5px;
}

.input {
  border: none;
  outline: none;
  background: #f0f2f5;
  padding: 10px 15px;
  border-radius: 15px;
  display: block;
  margin-bottom: 5px;
}

.input--full {
  width: 100%;
}

.new-post {
  background: white;
  border-radius: 10px;
  padding: 10px 20px;
}

.new-post h3 {
  margin-bottom: 10px;
}

.comment__row {
  display: flex;
  margin-bottom: 15px;
}

.comment__row span {
  background: #f0f2f5;
  padding: 10px 15px;
  border-radius: 15px;
}

.comment__row div {
  margin-left: auto;
  padding-top: 5px;
}

.input-comment {
  border-radius: 10px;
}
